@media { /* Пустой медиа-запрос */ }
.p-profiles.p-achievements .b-badge:before {
   content: attr(original-title);
   display: block;
   height: 10px;
   padding-top: 10px;
   padding-left: 3px;
   white-space: nowrap;
   text-overflow: clip;
   overflow: hidden;
   color: white;
}
.p-profiles.p-achievements .b-badge:before {
   width: unset;
   top: unset;
   right: unset;
   position: unset;
   line-height: unset;
   z-index: unset;
   text-align: unset;
   font-size: unset;
   opacity: unset;
}
.p-profiles.p-achievements .b-badge:hover:after {
   position: absolute;
   bottom: 10px;
   right: 5px;
   font-family: "Comfortaa", sans-serif;
   font-weight: bold;
   color: white;
   text-shadow: 0px 0px 3px black, -1px -1px 2px black, 1px 1px 1px black;
   content: attr(data-progress) '%';
}
.p-profiles.p-achievements .b-badge:hover:after {
   display: unset;
   height: unset;
   line-height: unset;
   top: unset;
   width: unset;
   opacity: unset;
}
.p-profiles.p-achievements .b-badge[data-progress] { box-shadow: 2px 2px 1px 0px white }
.p-profiles.p-achievements .b-badge[data-progress^='1']:not([data-progress='1']) { box-shadow: 2px 2px 1px 0px ghostwhite }
.p-profiles.p-achievements .b-badge[data-progress^='2']:not([data-progress='2']) { box-shadow: 2px 2px 1px 0px whitesmoke }
.p-profiles.p-achievements .b-badge[data-progress^='3']:not([data-progress='3']) { box-shadow: 2px 2px 1px 0px gainsboro }
.p-profiles.p-achievements .b-badge[data-progress^='4']:not([data-progress='4']) { box-shadow: 2px 2px 1px 0px lightgray }
.p-profiles.p-achievements .b-badge[data-progress^='5']:not([data-progress='5']) { box-shadow: 2px 2px 1px 0px silver }
.p-profiles.p-achievements .b-badge[data-progress^='6']:not([data-progress='6']) { box-shadow: 2px 2px 1px 0px darkgray }
.p-profiles.p-achievements .b-badge[data-progress^='7']:not([data-progress='7']) { box-shadow: 2px 2px 1px 0px gray }
.p-profiles.p-achievements .b-badge[data-progress^='8']:not([data-progress='8']) { box-shadow: 2px 2px 1px 0px dimgray }
.p-profiles.p-achievements .b-badge[data-progress^='9']:not([data-progress='9']) { box-shadow: 2px 2px 1px 0px black }
.p-profiles.p-achievements .b-badge[data-progress='100'] { box-shadow: 2px 2px 1px 0px #864c00 !important; }

.p-profiles.p-achievements .b-badge[data-progress]:before { background: linear-gradient(to right, black 5%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress='0']:before { background: linear-gradient(to right, black 0%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='1']:not([data-progress='1']):before { background: linear-gradient(to right, black 10%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='2']:not([data-progress='2']):before { background: linear-gradient(to right, black 20%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='3']:not([data-progress='3']):before { background: linear-gradient(to right, black 30%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='4']:not([data-progress='4']):before { background: linear-gradient(to right, black 40%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='5']:not([data-progress='5']):before { background: linear-gradient(to right, black 50%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='6']:not([data-progress='6']):before { background: linear-gradient(to right, black 60%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='7']:not([data-progress='7']):before { background: linear-gradient(to right, black 70%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='8']:not([data-progress='8']):before { background: linear-gradient(to right, black 80%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress^='9']:not([data-progress='9']):before { background: linear-gradient(to right, black 90%, gray 0); }
.p-profiles.p-achievements .b-badge[data-progress='100']:before { background: #864c00 !important; }
